body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 2%;
}

.square {
  background-color: blanchedalmond;
  aspect-ratio: 1;
  border: none;
}

.square:active {
  border: none;
}